<style>
        html {
            font-size: 62.5%;
        }
        * {
            margin: 0;
            padding: 0;
        }
        ul {
            list-style: none;
            font-size:0; /* truco por el uso de inline-block*/
        }
        li {
            display: inline-block;
            width: 10rem;
            position:relative;
            font-size: 1.5rem;
            margin-left: 5vh;
            font-weight: 500;
        }
        ul ul {
            position: relative;
            display: none;
        }
        ul ul li {
            display: block;
            width: 100%;
            padding: 10px;
        }
        ul ul li a {color: #666666;}
        ul li:hover ul {
            position: absolute;
            display:block;
        }
        .header {
            height: 80vh;
            background-image: url(./img/header\ BG\ clean-01.jpg);
            background-size: cover;
            padding-top: 1rem;
        }   
        .menu {
            height: 15vh;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            display: flex;
            align-items: center;
            margin-bottom: 10vh;
        }
        .menu__lista {
            display: block;
        }
    .Banner {
    height: 70vh;
    display: grid;
    grid-template-areas: 
    " . BannerTitle BannerStar "
    ;
    grid-template-columns: 20vw auto 20vw;
    grid-template-rows: auto;
    }
        .Banner--H2 {
            font-family: 'Oi', cursive;
            font-size: 4rem;
            color: white;
            line-height: 4rem;
            text-justify: center;
            z-index: 20;
            grid-area: BannerTitle;
            height: 8rem;
            width: 25rem;
            justify-self: right;
        }
        .Banner--H1 {
            align-items:baseline;
            text-align: start;
            font-family: 'Oi', cursive;
            font-size: 6rem;
            color: white;
            line-height: 6rem;
            z-index: 20;
            grid-area: BannerTitle;
            padding: 12rem 0 0 0;
            width: 30rem;
            justify-self: right;
        }
        .Banner--Star {
            grid-area: BannerStar;
            padding: 6rem 0 0 3rem;
        }
        .Banner--BG {
            height: 10vh;
            grid-area: BannerTitle;
            image-rendering: pixelated;
            z-index: 10;
            justify-self: left;
            align-self:baseline  ;
        } 
    .WhatIdo {
    padding: 5vh 15vh 10vh 15vh;
    display: grid;
    grid-template-areas:
    " . Skills" 
    " WhatIdo Skills "
    " DESIGN Skills "
    " Parrafo Skills "
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh auto auto 20vh;
    height: 70vh;
    overflow: hidden;
    }
   @keyframes BG-1 {
        0% {
            transform: translate(-450px, -1rem);
            background: rgb(223,139,155);
            background: linear-gradient(90deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            opacity: 0%;
        }
        5% {
            opacity: 15%;
        }
        10% {
            transform: translate(-250px, 2rem);
            background: rgb(223,139,155);
            background: linear-gradient(100deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            opacity: 60%;
        }
        20% {
            transform: translate(50px, 3rem);
            background: rgb(223,139,155);
            background: linear-gradient(110deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            opacity: 80%; 
       }
        30% {
            transform: translate(250px, 1rem);
            background: rgb(223,139,155);
            background: linear-gradient(120deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            opacity: none;
        }
        40% {
            transform: translate(450px, -1rem);
            background: rgb(223,139,155);
            background: linear-gradient(130deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            opacity: none;
        }
        50% {
            transform: translate(650px, 0px);
            background: rgb(223,139,155);
            background: linear-gradient(140deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            opacity: none;
        }
        60% {
            transform: translate(850px, 2rem);
            background: rgb(223,139,155);
            background: linear-gradient(150deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            opacity: none;
        }
        70% {
            transform: translate(1050px, 3rem);
            background: rgb(223,139,155);
            background: linear-gradient(160deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            opacity: 80%;
       }
        80% {
            transform: translate(1250px, 1rem);
            background: rgb(223,139,155);
            background: linear-gradient(170deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            opacity: 60%;
        }
        90% {
            transform: translate(1450px, -2rem);
            background: rgb(223,139,155);
            background: linear-gradient(180deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            opacity: 30%;
        }
        100% {
            transform: translate(1650px, -3rem);
            opacity: 0%;
            background: rgb(223,139,155);
            background: linear-gradient(190deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
        }
    }
    .WhatIdo__BG {
        margin: auto 0 auto 0;
        z-index: 10;
        width: 600px;
        height: 600px;
        background-size:contain;
        border-radius: 50%;
        filter: blur(20px);
        animation: BG-1 20s linear infinite;
    }
        .WhatIdo__H3 {
            grid-area: WhatIdo;
            color: #666666;
            font-size: 2rem;
            font-family: 'Oi', cursive;
            line-height: 2rem;
            z-index: 20;
        }
        .WhatIdo__H1 {
            grid-area: DESIGN;
            color: #666666;
            font-size: 6rem;
            font-family: 'Oi', cursive;
            line-height: 6rem;
            z-index: 20;
        }
        .WhatIdo__p {
            grid-area: Parrafo;
            color: #666666;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            z-index: 20;
        }
        .WhatIdo__skills {
            grid-area: Skills;
            color: white;
            font-size: 2rem;
            font-family: 'Oi', cursive;
            text-align: end;
            line-height: 6rem;
            padding: 7vh;
            -webkit-text-stroke: 0.07rem #666666;
            z-index: 20;
        }
    .services {
        display: flex;
        flex-wrap: wrap;
        height: 70vh;
        background-image: url(./img/Gradient-2.png);
        background-size: cover;
        justify-content: space-around;
    }
        .services__first {
            display: grid;
            grid-template-areas: 
            "top"
            "mid"
            "bot"
            ;
            grid-template-rows: 30% 40% 30%;
            z-index: 15;
            width: 300px;
            height: 620px;
            border-radius: 60px;
            margin: 70px 50px 0 50px;
            justify-content: center;
            background: rgb(107,165,247);
            background: linear-gradient(90deg, rgba(107,165,247,1) 0%, rgba(161,238,248,1) 100%);
            box-shadow: 10px 5px 15px rgba(102, 102, 102, 0.15);
            /* animation: Panel-1 30s linear infinite; */
        }
        .services__first__top {
            grid-area: top;
            font-family: 'Oi', cursive;
            color: #666666;
            font-size: 2rem;
            width: 200px;
            line-height: 2rem;
            padding: 20% 0 0 0;
            z-index: 20;
        }
        .services__first__mid {
            grid-area: mid;
            font-family: 'Roboto', sans-serif;
            color: #666666;
            font-size: 1rem;
            padding: 0 40px 0 60px;
            align-self: center;
            z-index: 20;
        }
        .services__first__bot {
            grid-area: bot;
            padding: 0 0 0 290px;
            z-index: 20;
        }
        @keyframes Panel-1 {
            100% {
                background: rgb(223,139,155);
                background: linear-gradient(90deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 80;
            }
            95% {
                background: rgb(223,139,155);
                background: linear-gradient(106deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: none;
            }
            90% {
                background: rgb(107,165,247);
                background: linear-gradient(123deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            }
            85% {
                background: rgb(223,139,155);
                background: linear-gradient(138deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
           }
            80% {
                background: rgb(223,139,155);
                background: linear-gradient(156deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
           }
            75% {
                background: rgb(223,139,155);
                background: linear-gradient(172deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            }
            70% {
                background: rgb(223,139,155);
                background: linear-gradient(189deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            }
            65% {
                background: rgb(223,139,155);
                background: linear-gradient(205deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            }
            60% {
                background: rgb(223,139,155);
                background: linear-gradient(222deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            }
            55% {
                background: rgb(223,139,155);
                background: linear-gradient(238deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            }
            50% {
                background: rgb(223,139,155);
                background: linear-gradient(255deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            }
            45% {
                background: rgb(223,139,155);
                background: linear-gradient(271deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            }
            40% {
                background: rgb(223,139,155);
                background: linear-gradient(288deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            }
            35% {
                background: rgb(223,139,155);
                background: linear-gradient(304deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 80;
           }
            30% {
                background: rgb(223,139,155);
                background: linear-gradient(321deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 60;
           }
            25% {
                background: rgb(223,139,155);
                background: linear-gradient(337deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 40;
            }
            20% {
                background: rgb(223,139,155);
                background: linear-gradient(354deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 20;
            }
            15% {
                background: rgb(223,139,155);
                background: linear-gradient(10deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: none;
            }
            10% {
                background: rgb(223,139,155);
                background: linear-gradient(27deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 20;
            }
            5% {
                background: rgb(223,139,155);
                background: linear-gradient(43deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 40;
            }
            0% {
                background: rgb(223,139,155);
                background: linear-gradient(60deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 60;
            }
        }
        .services__second {
            display: grid;
            grid-template-areas: 
            "top"
            "mid"
            "bot"
            ;
            grid-template-rows: 30% 40% 30%;
            z-index: 15;
            width: 300px;
            height: 620px;
            border-radius: 60px;
            margin: 70px 50px 0 50px;
            justify-content: center;
            background: rgb(223,139,155);
            background: linear-gradient(40deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            box-shadow: 10px 5px 15px rgba(102, 102, 102, 0.15);
            
        }
        .services__second__top {
            grid-area: top;
            padding: 0 0 0 0;
            align-self: center;
            justify-self: center;
        }
        .services__second__mid {
            grid-area: mid;
            font-family: 'Oi', cursive;
            color: #666666;
            font-size: 2rem;
            width: 200px;
            line-height: 2rem;
            padding: 20% 230px 0 0;
            z-index: 20;
            text-align: center;
        }
        .services__second__bot {
            grid-area: bot;
            font-family: 'Roboto', sans-serif;
            color: #666666;
            font-size: 1rem;
            padding: 0 55px 0 80px;
            align-self: center;
        }
        .services__third {
            display: grid;
            grid-template-areas: 
            "top"
            "mid"
            "bot"
            ;
            grid-template-rows: 30% 40% 30%;
            z-index: 15;
            width: 300px;
            height: 620px;
            border-radius: 60px;
            margin: 70px 50px 0 50px;
            justify-content: center;
            background: rgb(237,218,188);
            background: linear-gradient(280deg, rgba(237,218,188,1) 0%, rgba(224,124,150,1) 100%);
            box-shadow: 10px 5px 15px rgba(102, 102, 102, 0.15);
        }
        .services__third__top {
            grid-area: top;
            font-family: 'Roboto', sans-serif;
            color: #666666;
            font-size: 1rem;
            padding: 0 55px 0 80px;
            align-self: center;
        }
        .services__third__mid {
            grid-area: mid;
            padding: 0 0 0 0;
            align-self: center;
            justify-self: center;
        }
        .services__third__bot {
            grid-area: bot;
            font-family: 'Oi', cursive;
            color: #666666;
            font-size: 2rem;
            width: 200px;
            line-height: 2rem;
            padding: 20% 230px 0 0;
            z-index: 20;
            text-align: center;
        }
    .HowIdoit {
    display: grid;
    height: 70vh;
    grid-template-areas: 
    " One text1 two text2 title"
    " three text3 four text4 title";
    grid-template-columns: 150px 400px 150px 400px auto;
    grid-template-rows: 50% 50%;
    overflow: hidden;
    margin: 200px 0 100px 0;
    }
        .HowIdoit__BG1 {
        margin: auto 0 auto 0;
        z-index: 10;
        width: 500px;
        height: 500px;
        background-size:contain;
        border-radius: 50%;
        filter: blur(20px);
        animation: BG-2 20s linear infinite;
        }
        @keyframes BG-2 {
            0% {
                transform: translate(-450px, -38rem);
                background: rgb(107,165,247);
                background: linear-gradient(90deg, rgba(107,165,247,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 0%;
            }
            5% {
                opacity: 15%;
            }
            10% {
                transform: translate(-250px, -35rem);
                background: rgb(107,165,247);
                background: linear-gradient(100deg, rgba(107,165,247,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 60%;
            }
            20% {
                transform: translate(50px, -38rem);
                background: rgb(107,165,247);
                background: linear-gradient(110deg, rgba(107,165,247,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 80%; 
           }
            30% {
                transform: translate(250px, -36rem);
                background: rgb(107,165,247);
                background: linear-gradient(120deg, rgba(107,165,247,1) 0%, rgba(161,238,248,1) 100%);
                opacity: none;
            }
            40% {
                transform: translate(450px, -34rem);
                background: rgb(107,165,247);
                background: linear-gradient(130deg, rgba(107,165,247,1) 0%, rgba(161,238,248,1) 100%);
                opacity: none;
            }
            /* 50% {
                transform: translate(650px, -5rem);
                background: rgb(223,139,155);
                background: linear-gradient(140deg, rgba(107,165,247,1) 0%, rgba(161,238,248,1) 100%);
                opacity: none;
            } */
            60% {
                transform: translate(850px, -33rem);
                background: rgb(107,165,247);
                background: linear-gradient(150deg, rgba(107,165,247,1) 0%, rgba(161,238,248,1) 100%);
                opacity: none;
            }
            70% {
                transform: translate(1050px, -28rem);
                background: rgb(107,165,247);
                background: linear-gradient(160deg, rgba(107,165,247,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 80%;
           }
            80% {
                transform: translate(1250px, -36rem);
                background: rgb(107,165,247);
                background: linear-gradient(170deg, rgba(107,165,247,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 60%;
            }
            90% {
                transform: translate(1450px, -33rem);
                background: rgb(107,165,247);
                background: linear-gradient(180deg, rgba(107,165,247,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 30%;
            }
            100% {
                transform: translate(1650px, -30rem);
                opacity: 0%;
                background: rgb(107,165,247);
                background: linear-gradient(190deg, rgba(107,165,247,1) 0%, rgba(161,238,248,1) 100%);
            }
        }
        .HowIdoit__BG2 {
        margin: auto 0 auto 0;
        z-index: 12;
        width: 350px;
        height: 350px;
        background-size:contain;
        border-radius: 50%;
        filter: blur(20px);
        animation: BG-3 30s linear infinite;
        z-index: 15;
        }
        @keyframes BG-3 {
            100% {
                transform: translate(-450px, -40rem);
                background: rgb(223,139,155);
                background: linear-gradient(90deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 0%;
            }
            95% {
                opacity: 15%;
            }
            90% {
                transform: translate(-250px, -38rem);
                background: rgb(107,165,247);
                background: linear-gradient(100deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 60%;
            }
            80% {
                transform: translate(50px, -35rem);
                background: rgb(223,139,155);
                background: linear-gradient(110deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 80%; 
           }
            70% {
                transform: translate(250px, -40rem);
                background: rgb(223,139,155);
                background: linear-gradient(120deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: none;
            }
            60% {
                transform: translate(450px, -38rem);
                background: rgb(223,139,155);
                background: linear-gradient(130deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: none;
            }
            /* 50% {
                transform: translate(650px, -5rem);
                background: rgb(223,139,155);
                background: linear-gradient(140deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: none;
            } */
            50% {
                transform: translate(850px, -35rem);
                background: rgb(223,139,155);
                background: linear-gradient(150deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: none;
            }
            30% {
                transform: translate(1050px, -38rem);
                background: rgb(223,139,155);
                background: linear-gradient(160deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 80%;
           }
            20% {
                transform: translate(1250px, -40rem);
                background: rgb(223,139,155);
                background: linear-gradient(170deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 60%;
            }
            10% {
                transform: translate(1450px, -42rem);
                background: rgb(223,139,155);
                background: linear-gradient(180deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
                opacity: 30%;
            }
            0% {
                transform: translate(1650px, -45rem);
                opacity: 0%;
                background: rgb(223,139,155);
                background: linear-gradient(190deg, rgba(223,139,155,1) 0%, rgba(161,238,248,1) 100%);
            }
        }
        .HowIdoit__title {
        font-size: 4rem;
        grid-area: title;
        font-family: 'Oi', cursive;
        color: #666666;
        justify-self: right;
        align-self: center;
        padding: 0 20% 0 0;
        z-index: 20;
        }
        .HowIdoit__One {
        grid-area: One;
        font-size: 4rem;
        font-family: 'Oi', cursive;
        color: #666666;
        justify-self: right;
        padding: 0 30px 0 0;
        align-self: center;
        z-index: 20;
        }
        .HowIdoit_text1 {
            grid-area: text1;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            color: #666666;
            align-self: center;
            z-index: 20;
        }
        .HowIdoit__two {
            grid-area: two;
            font-size: 4rem;
            font-family: 'Oi', cursive;
            color: #666666;
            justify-self: right;
            padding: 0 30px 0 0;
            align-self: center;
            z-index: 20;
        }
        .HowIdoit_text2 {
            grid-area: text2;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            color: #666666;
            align-self: center;
            z-index: 20;
        }
        .HowIdoit__three {
            grid-area: three;
            font-size: 4rem;
            font-family: 'Oi', cursive;
            color: #666666;
            justify-self: right;
            padding: 0 30px 0 0;
            align-self: center;
            z-index: 20;
        }
        .HowIdoit_text3 {
            grid-area: text3;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            color: #666666;
            align-self: center;
            z-index: 20;
        }
        .HowIdoit__four {
            grid-area: four;
            font-size: 4rem;
            font-family: 'Oi', cursive;
            color: #666666;
            justify-self: right;
            padding: 0 30px 0 0;
            align-self: center;
            z-index: 20;
        }
        .HowIdoit_text4 {
            grid-area: text4;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            color: #666666;
            align-self: center;
            z-index: 20;
        }
    .Banner__aboutme {
    display: grid;
    grid-template-areas: 
    " 4star Designer . "
    " . Designer 7star "
    ;
    grid-template-columns: 20% 60% auto;
    grid-template-rows: 65% 35%;
    height: 60vh;   
    }
        .Banner__aboutme__4star {
        grid-area: 4star;
        justify-self: right;
        }
        .Banner__aboutme__Designer--text {
        grid-area: Designer;
        justify-self: center;
        z-index: 20;
        align-self: center;
        font-family: 'Oi', cursive;
        font-size: 6rem;
        color: white;
        line-height: 6rem;
        }
        .Banner__aboutme__Designer--img {
        grid-area: Designer;
        z-index: 10;
        justify-self: center;
        height: 50vh;
        }
        .Banner__aboutme__7star {
        grid-area: 7star;
        justify-self: left;
        align-self: flex-end;
        margin: 0 0 5vh 0;
        }
    .Aboutme__skills {
    display: grid;
    grid-template-areas: 
    " title strokeStar"
    " content content";
    grid-template-rows: auto auto;
    grid-template-columns: 60% auto;
    }
        .Aboutme__skills__title {
        grid-area: title;
        font-family: 'Oi', cursive;
        font-size: 6rem;
        color: #666666;
        line-height: 6rem;   
        justify-self: right;
        margin: 8px 0 0 0 ;
        padding: 200px 40px 150px 0;
        }
        .Aboutme__skills__strokeStar {
        grid-area: strokeStar;
        justify-self: left;
        padding: 200px 0 0 0;
        }
        .Aboutme__skills__content {
        display: flex;
        height: auto;
        flex-wrap: wrap;
        width: auto;
        grid-area: content;
        justify-content: space-around;
        }
            .Aboutme__skills__content--grid {
            display: grid;
            grid-template-areas: 
            "Indicador"
            "title"
            "text";
            grid-template-rows: auto auto auto;
            grid-template-columns: auto;
            width: 500px;
            margin: 50px 0 70px 0;
            }
                .Aboutme__skills__content--grid--indicador {
                grid-area: Indicador;
                justify-self: center;
                }
                .Aboutme__skills__content--grid--title {
                grid-area: title;
                font-family: 'Roboto', sans-serif;
                font-size: 1.5rem;
                font-weight: bold;
                color: #666666;
                text-align: center;
                justify-self: center;
                margin: 10px 0 0 0 ;
                }
                .Aboutme__skills__content--grid--text {
                grid-area: text;
                font-size: 1rem;
                font-family: 'Roboto', sans-serif;
                color: #666666;
                width: 250px;
                text-align:justify;
                justify-self: center;
                margin: 10px 0 0 0 ;
                }
    .Portfolio__Banner {
        display: grid;
        grid-template-areas:
        " . Star Title"
        ;
        grid-template-columns: auto auto 65%;
        margin: 20vh 0 30vh 0;
        height: auto;
    }
        .Portfolio__Header__Star {
            grid-area: Star;
            align-self: center;
            justify-self: end;
            padding: 0 50px 0 0;
        }
        .Portfolio__Header__img {
            padding: 0 20% 0 0;
            grid-area: Title;
            justify-self: end;
            z-index: 10;
        }
        .Portfolio__Header__text {
            text-align: left;
            grid-area: Title;
            font-size: 6rem;
            color: white;
            line-height: 6rem;
            z-index: 20;
            font-family: 'Oi', cursive;
            align-self: center;
        }
        .Portfolio__UIDESIGN__BG {
            display: flex;
            flex-wrap: wrap;
            height: 70vh;
            justify-content: space-around;
        }
        .Portfolio__SocialMedia__BG {
            display: grid;
            grid-template-areas:
            "Title Star"
            ;
            grid-template-columns: 70% 30%;
            background-image: url(./img/Gradient-2.png);
            background-position: center;
            background-size: cover;
            height: 80vh;
            margin: 15vh 0 0 0;
        }
        .Portfolio__SocialMedia__Star4 {
            grid-area: Title;
            z-index: 10;
            align-self:flex-start;
            justify-self: left;
            padding: 8% 0 0 8%;
        }
        .Portfolio__SocialMedia__img {
            grid-area: Title;
            z-index: 20;
            padding: 0 0 0 15%;
            align-self: center;
            justify-self: left;
        }
        .Portfolio__SocialMedia__text {
            grid-area: Title;
            z-index: 30;
            text-align: left;
            align-self: center;
            font-size: 6rem;
            color: white;
            line-height: 6rem;
            font-family: 'Oi', cursive;
            padding: 0 0 0 35%;
        }
        .Portfolio__SocialMedia__text2 {
            font-size: 3rem;
            color: white;
            line-height: 4rem;
        }
        .Portfolio__SocialMedia__Star7 {
            grid-area: Star;
            align-self: center;
            justify-self: left;
            padding: 0 4% 0 0;
        }
        .Portfolio__SOCIALMEDIA__Panel {
            display: flex;
            flex-wrap: wrap;
            height: auto;
            justify-content: space-around;
            margin: 0 0 20vh 0;
        }
    .Contact__Form {
        width: 300px;
        height: 50%;
        background-color: white;
        text-align: center;
        border-radius: 3rem;
        padding: 5vh 0 10vh 0;
        margin: 0 auto 0 auto;
    }
    .Contact__Form__Titles {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: #666666;
        font-size: 1.5rem;  
        line-height: 3rem;
    }
    .Contact__Form__fillers {
        width: 80%;
        height: 1.5rem;
        border-radius: 1rem;
        border-style:solid;
        border-width: 0.08rem;
    }
    .Contact__Form__buttom {
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: #666666;
        font-size: 1.5rem;  
        line-height: 3rem;
        margin: 30px 0 0 0;
        width: 40%;
        border-radius: 1.5rem;
    }
    .footer {
    height: 12vh;
    background-image: url(./img/FOOTER.png);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding-top: 5vh;
    font-size: 1.5rem;
    }
@media (max-width: 480px) {
        .header {
        height: 100vh;
        background-position: right;
        }
        li {
        display: inline-block;
        width: auto;
        position:relative;
        font-size: 1rem;
        margin-left: 4vh;
        font-weight: 500;
        }
        .menu {
        margin-bottom: 10vh;
        }
        .Banner {
        height: 0vh;
        display: grid;
        grid-template-areas: 
        "BannerTitle"
        ;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 0 0 0 0;
        }
            .Banner--H2 {
            grid-area: BannerTitle;
            font-family: 'Oi', cursive;
            font-size: 2rem;
            color: white;
            width: 300px;
            align-self:flex-start;
            line-height: 2rem;
            text-align: left;
            justify-self: left;
            padding: 0 0 0 20px;
            }
            .Banner--H1 {
            grid-area: BannerTitle;
            align-items:baseline;
            text-align: start;
            font-family: 'Oi', cursive;
            font-size: 4rem;
            color: white;
            width: 400px;
            line-height: 4rem;
            text-align: right;
            padding: 300px 20px 0 0;
            }
            .Banner--BG {
            height: auto;
            grid-area: BannerTitle;
            z-index: 10;
            justify-self: left;
            align-self: center;
            justify-self: center;
            }
            .Banner--Star {
            display: none;
            }
        .HowIdoit {
        display: grid;
        height: 140vh;
        grid-template-areas: 
        "title title"
        "One text1"
        "two text2"
        "three text3"
        "four text4";
        grid-template-columns: 100px auto;
        grid-template-rows: auto auto auto auto auto;
        }
            .HowIdoit__title {
            font-size: 4rem;
            line-height: 4rem;
            grid-area: title;
            font-family: 'Oi', cursive;
            color: #666666;
            justify-self: right;
            align-self: center;
            margin: 80px 0 20px 0;
            }
            .HowIdoit_text1 {
            grid-area: text1;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            color: #666666;
            align-self: center;
            margin: 0 30px 0 0;
            }
            .HowIdoit_text2 {
            grid-area: text2;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            color: #666666;
            align-self: center;
            margin: 0 30px 0 0;
            }
            .HowIdoit_text3 {
            grid-area: text3;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            color: #666666;
            align-self: center;
            margin: 0 30px 0 0;
            }
            .HowIdoit_text4 {
            grid-area: text4;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            color: #666666;
            align-self: center;
            margin: 0 30px 0 0;
            }
        .WhatIdo {
        display: grid;
        grid-template-areas: 
        " WhatIdo "
        " DESIGN"
        " Parrafo"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        padding: 5vh 30px 5vh 30px;
        height: 70vh;
        }
            .WhatIdo__skills {
            display: none;
            }
        .services {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        background-image: url(./img/Gradient-2.png);
        background-size: cover;
        justify-content: space-around;
        }
        .Banner__aboutme__Designer--text {
        font-size: 3.5rem;
        line-height: 3rem;
        text-align: center;
        padding: 150px 0 0 0 ;
        }
        .Aboutme__skills {
        grid-template-areas: 
        " strokeStar2"
        " title "
        " strokeStar "
        " content "
        ;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        }
                .Aboutme__skills__title {
                font-size: 3.5rem;
                line-height: 3.5rem;   
                justify-self: center;
                margin: 0 0 0 0 ;
                padding: 50px 0 50px 0;
                }
                .Aboutme__skills__strokeStar {
                justify-self: center;
                padding: 0 0 50px 0 ;
                margin: 0;
                }
                .Aboutme__template__strokeStar2 {
                grid-area: strokeStar2;
                justify-self: center;
                padding: 0;
                margin: 0;
                }
                .Aboutme__skills__content--grid {
                    width: auto;
                }
            .Portfolio__UIDESIGN__BG {
                height: auto;
            }
            .Portfolio__Header__text {
                text-align: left;
                font-size: 3rem;
                line-height: 3rem;
                z-index: 20;
                align-self: center;
            }
            .Portfolio__SocialMedia__BG {
                grid-template-areas:
                "Title"
                ;
                grid-template-columns: 100%;
                height: auto;
                margin: 20vh 0 20vh 0;
            }
            .Portfolio__SocialMedia__Star4 {
                display: none;
            }
            .Portfolio__SocialMedia__text {
                font-size: 3rem;
                color: white;
                line-height: 3rem;
                font-family: 'Oi', cursive;
            }
            .Portfolio__SocialMedia__text2 {
                font-size: 2rem;
                line-height: 3rem;
            }
            .Portfolio__SocialMedia__Star7 {
                display: none;
            }
        .footer {
        height: 10vh;
        padding-top: 0;
        }
    }
@media (min-width: 481px) and (max-width: 1199px) {
    .Banner--Star {
        display: none;
    }
    .Banner--H2 {
        font-size: 2rem;
        width: 10rem;
        line-height: 2rem;
    }
    .Banner--H1 {
        font-size: 2rem;
        width: 10rem;
        line-height: 2rem;
    }
    .services {
        height: auto;
    }
    .HowIdoit {
        display: grid;
        height: 140vh;
        grid-template-areas: 
        "title title"
        "One text1"
        "two text2"
        "three text3"
        "four text4";
        grid-template-columns: 100px auto;
        grid-template-rows: auto auto auto auto auto;
        }
        .HowIdoit__title {
            justify-self: center;
            }
    .WhatIdo {
        display: grid;
        grid-template-areas: 
        " WhatIdo "
        " DESIGN"
        " Parrafo"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        padding: 10vh 30px 5vh 20vh;
        height: auto;
        }   
            .WhatIdo__BG {
            display: none;
            }
            .WhatIdo__skills {
            display: none;
            }
            .WhatIdo__H3 {
                text-align: center;
            }
            .WhatIdo__H1 {
                text-align: center;
            }
            .WhatIdo__p {
            text-align: center;
            }
    .Banner__aboutme__Designer--text {
        font-size: 3.5rem;
        line-height: 3rem;
        text-align: center;
        padding: 150px 0 0 0 ;
        }
        .Aboutme__skills {
        grid-template-areas: 
        " strokeStar2"
        " title "
        " strokeStar "
        " content "
        ;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        }
            .Aboutme__skills__title {
            font-size: 3.5rem;
            line-height: 3.5rem;   
            justify-self: center;
            margin: 0 0 0 0 ;
            padding: 50px 0 50px 0;
            }
            .Aboutme__skills__strokeStar {
            justify-self: center;
            padding: 0 0 50px 0 ;
            margin: 5h 0 5vh 0;
            }
            .Aboutme__template__strokeStar2 {
            grid-area: strokeStar2;
            justify-self: center;
            padding: 0;
            margin: 10vh 0 5vh 0;
            }
            .Aboutme__skills__content--grid {
                width: auto;
            }
        .Portfolio__UIDESIGN__BG {
            height: auto;
            grid-template-columns: 100%;
            margin: 20vh 0 20vh 0;
        }
        .Portfolio__Header__text {
            text-align: left;
            font-size: 4rem;
            line-height: 4rem;
            z-index: 20;
            align-self: center;
        }
        .Portfolio__SocialMedia__BG {
            grid-template-areas:
            "Title"
            ;
            height: auto;
        }
        .Portfolio__SocialMedia__Star7 {
            display: none;
        }
        .Portfolio__SocialMedia__text {
            font-size: 3rem;
            line-height: 3rem;
        }
    }
</style>